<div class="flex flex-col items-center justify-center min-h-screen p-4 space-y-6 bg-white shadow-md rounded-md mx-auto max-w-4xl">
  <h1 class="text-3xl font-semibold text-center">Workout Tracker</h1>
  <app-user-input-form (userWorkoutAdded)="onUserWorkoutAdded($event)"></app-user-input-form>

  <h2 class="text-2xl font-semibold text-center">Workout List</h2>
  <div class="w-full space-y-4">
    <div class="table-container" *ngIf="aggregatedWorkouts.length > 0">
      <table mat-table [dataSource]="aggregatedWorkouts" class="mat-elevation-z8 w-full">
        <!-- Name Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let workout">{{ workout.username }}</td>
        </ng-container>

        <!-- Types Column -->
        <ng-container matColumnDef="types">
          <th mat-header-cell *matHeaderCellDef>Workouts</th>
          <td mat-cell *matCellDef="let workout">{{ workout.types.join(', ') }}</td>
        </ng-container>

        <!-- Number of Workouts Column -->
        <ng-container matColumnDef="numberOfWorkouts">
          <th mat-header-cell *matHeaderCellDef>No of Workouts</th>
          <td mat-cell *matCellDef="let workout">{{ workout.numberOfWorkouts }}</td>
        </ng-container>

        <!-- Total Workout Minutes Column -->
        <ng-container matColumnDef="totalMinutes">
          <th mat-header-cell *matHeaderCellDef>Total Workout Minutes</th>
          <td mat-cell *matCellDef="let workout">{{ workout.totalMinutes }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="flex justify-between items-center mt-4" *ngIf="aggregatedWorkouts.length > 0">
      <button 
        mat-button 
        (click)="previousPage()" 
        [disabled]="!canNavigatePrevious" 
        class="px-3 py-1.5 bg-blue-500 text-white rounded-md hover:bg-blue-600 text-xs">
        &lt;
      </button>
      <span class="text-xs">Page {{ currentPage }} of {{ totalPages }}</span>
      <button 
        mat-button 
        (click)="nextPage()" 
        [disabled]="!canNavigateNext" 
        class="px-3 py-1.5 bg-blue-500 text-white rounded-md hover:bg-blue-600 text-xs">
        &gt;
      </button>
    </div>
  </div>
</div>
